<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <title>Log Order</title>
</head>
<body class="bg-dark">
    <div class="container col-8 mt-5">

        <div class="container col-5 p-3">

            <div class="card p-5 bg-light">

                <div class="card-header mb-3 text-center">
                    <h1>Log a New Order</h1>
                    <p class="d-flex justify-content-center align-items-center"><a href="/cookies">Back to Purchases</a></p>
                </div>

                <form action="cookies/save" method="post">
                    
                    <label class="form-label" for="customer_name">Name</label>
                    <input class="form-control" type="text" name="customer_name" value="{ session['customer_name'] }}" required>
                    
                    <label class="form-label" for="cookie_type">Cookie Type</label>
                    <input class="form-control" type="text" name="cookie_type" value="{ session['cookie_type'] }}" required>
                    
                    <label class="form-label" for="num_boxes">Number of Boxes</label>
                    <input class="form-control" type="text" name="num_boxes" value="{ session['num_boxes'] }}" required>
                    
                    <input class="btn btn-primary mt-3" type="submit" name="submit" value="Log">
                    
                </form>
            </div>

        </div>
    </div>
</body>
</html>